/**
 * Overall
 */

body {
    font-family: Arial;
}

/**
 * Header
 */
header {
    background: #1a1a1a;
    padding: 15px;
    border-bottom: 1px solid #2f2f2f;
    overflow: auto;

    .fa { color: white; }

    h2 { 
        float: left;
        margin: 0;
        color: #636363; 
        font-size: 20px; 
        text-transform: uppercase; 

        small { font-size: 0.5em; color: #fff; }
    }

    ul {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}