@using System.Web.Optimization
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Scorched Earth</title>
        <style>
            .planetCanvas {
                border: 2px solid red;
                position: absolute;
                top: 0;
                left: 0;
            }
        </style>
    </head>
    <body>
        <div>
              <canvas id="game"></canvas>
        </div>
        
        @Scripts.Render("~/_scripts/game")
    </body>
</html>