@using System.Web.Optimization
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Iron Core - HTML5 Game</title>        

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Iron Core HTML5 game" />

        <link href='http://fonts.googleapis.com/css?family=Prosto+One|Electrolize' rel='stylesheet' type='text/css'>
        @Styles.Render("~/_styles/game")
</head>
    <body>
        <header>
            <h2>Iron Core <small>0.1-alpha</small></h2>

            <ul>
                <li><a id="toolbar-new-game" href="javascript:void(0)" title="New Game"><i class="fa fa-fw fa-2x fa-undo"></i></a></li>
                <li><a id="toolbar-toggle-music" href="javascript:void(0)" title="Turn on/off music"><i class="fa fa-fw fa-2x fa-volume-up"></i></a></li>
            </ul>
        </header>        

        <section id="game-content">
            <canvas id="game"></canvas>

            <section id="game-hud-top" class="none">
                <div>
                    <div id="game-hud-power">
                        <label>Power</label>
                        <span></span>
                    </div>
                </div>
            </section>

            <section id="ui-new-game" class="dialog" style="display: none">
                <div class="dialog-inner">
                    <form>
                        <h3>New Game</h3>

                        <label for="mapsize">Map Size:</label>
                        <select id="mapsize" name="mapsize">
                            <option value="0">Small (2-3 players)</option>
                            <option value="1">Medium (3-6 players)</option>
                            <option value="2">Large (6-10 players)</option>
                            <option value="3">Huge (10-20 players)</option>
                        </select>

                        <hr>

                        <label for="enemies">Number of Enemies:</label>
                        <input id="enemies" type="number" value="2">

                        <p><button id="btn-start-game" type="submit" class="success">Start Game</button></p>
                    </form>
                </div>
            </section>
        </section>
               
        @Scripts.Render("~/_scripts/game")
    </body>
</html>